<html>
    <head>
        <title>FAQs</title>
        <link rel="stylesheet" href="../static/faq.css">
    </head>

    <body>
        <h1>Streaming Filter</h1>
        <h2>Frequently Asked Questions</h2>
        
        <!--The structure for these buttons was taken from W3 Schools https://www.w3schools.com/howto/howto_js_collapsible.asp-->
        <button class="collapsible">What is this website?</button>
        <div class="content">
            <p>The Streaming Filter! We allow you to search for titles currently on Netflix, Hulu, Amazon Prime, and Disney Plus.</p>
        </div>

        <button class="collapsible" >How do I search for a movie or show?</button>
        <div class="content">
            <p>There is a search functionality on our home page where you can look for titles that match the criteria you give. Just fill out what your looking for and hit 'submit'!</p>
        </div>

        <button class="collapsible" >This Website is Awesome! How can I support the hardworking, good-looking, thoughtful, and caring developers?</button>
        <div class="content">
            <p>Venmo:</p>
        </div>

        <button class="collapsible" >Open Collapsible</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <button class="collapsible" >Open Collapsible</button>
        <div class="content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>

        <script src="../static/faq.js"></script>

    </body>
</html>