<html>
    <head>
        <title>Streaming Database</title>
    </head>
    <body>
        <h1>Streaming Filter</h1>
        <div class = "form">
            <h2>Film Search</h2>
            <p>Select one of the options below to filter potential movies</p>
            <form id="form" action="search">
                <input type="search" id="query1" name="titleChoice"
                 placeholder="Search..."
                 aria-label="Enter a title of a movie or tv show">
                 <label for="query1">Title</label>
                 <input type="search" id="query2" name="genreChoice"
                 placeholder="Search..."
                 aria-label="Enter a genre to filter">
                 <label for="query2">Genre</label>
                 <input type="submit" value="Submit">
              </form>
        </div>

        <a href= {{ url_for('get_popular_movies') }}>Check Out The Most Popular Titles!</a>
    </body>
</html>